<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a id="facebook" href="https://www.facebook.com/saiteja.jambarapu/"><i class="fa-brands fa-facebook-f"></i></a>
            <a id="insta" href="https://www.instagram.com/sai_teja.j/"><i class="fa-brands fa-instagram"></i></a>
            <a id="linkedin" href="https://www.linkedin.com/in/saiteja-jambarapu-a83aaa209/"><i class="fa-brands fa-linkedin"></i></a>
            
        </div>
        <div class="f-info-brand">
            &copy; Airbnb Private Limited
         </div>
         <div class="f-info-links">
             <a href="#">Privacy</a>
             <a href="#">Terms</a>
         </div>
    </div>
</footer>
